<!-- footer part start -->
<footer id="copyright">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <p>&copy; 2019. All rights reserved by <a
                        href="https://mti.com.mm"
                        target="_blank"
                    >MTI</a>. - <a href="#">Privacy
                        Policy</a> - <a href="#">Terms &
                        Conditions</a></p>
            </div>
        </div>
    </div>
</footer>
<!-- footer part end -->