<section style="height: 400px; position: relative;">
    <div
        style="background-image: url('images/slider/1.jpg'); background-size: cover; background-position: center;"
        class="h-100 position-relative"
    >
        <!-- Overlay -->
        <div
            class="position-absolute w-100 h-100"
            style="background: rgba(0, 0, 0, 0.7);"
        ></div>

        <!-- Text Content -->
        <div
            class="d-flex justify-content-center align-items-center flex-column h-100 position-relative text-center text-white">
            <h1 class="gradient-text logo-text title">D United Electronic</h1>

            <ul
                class="d-flex align-items-center mt-5"
                style="gap: 1rem;"
            >
                <li><a href="index.html">Home</a></li>
                <li style="font-size: .6rem;"><i class="fa-solid fa-chevron-right"></i></li>
                <li>Our Services</li>
            </ul>
        </div>
    </div>
</section>