<section
    id="testimonial"
    style="background-image: url(images/bg-wave.webp); background-position: center;"
>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8">
                <div class="text-center">
                    <h2 class="section-heading">What <span>People Says</span></h2>
                    <div class="reflection-text">
                        <div>
                            <img
                                src="images/logo.png"
                                alt=""
                                width="30"
                                height="30"
                            >
                            <span class="one"></span>
                            <span class="two"></span>
                        </div>
                    </div>
                    <p class="s-top-p">Don’t Believe us Check Clients word. More over 2500 happy customer.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-5 text-center">
                <div class="slider slider-nav">
                    <div class="client-thumbnail">
                        <img
                            src="images/reviews/testi-people1.jpg"
                            alt=""
                        >
                    </div>
                    <div class="client-thumbnail">
                        <img
                            src="images/reviews/testi-people2.jpg"
                            alt=""
                        >
                    </div>
                    <div class="client-thumbnail">
                        <img
                            src="images/reviews/testi-people3.jpg"
                            alt=""
                        >
                    </div>
                    <div class="client-thumbnail">
                        <img
                            src="images/reviews/testi-people4.jpg"
                            alt=""
                        >
                    </div>
                    <div class="client-thumbnail">
                        <img
                            src="images/reviews/testi-people2.jpg"
                            alt=""
                        >
                    </div>
                    <div class="client-thumbnail">
                        <img
                            src="images/reviews/testi-people3.jpg"
                            alt=""
                        >
                    </div>
                    <div class="client-thumbnail">
                        <img
                            src="images/reviews/testi-people4.jpg"
                            alt=""
                        >
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-9">
                <div class="slider slider-for">
                    <!-- Client Feedback Text  -->
                    <div class="client-feedback-text text-center">
                        <div class="client-description text-center">
                            <p>
                                “I couldn't be happier with my purchase. The quality of the electronics is
                                top-notch, and the team helped me pick the perfect products for my needs.”
                            </p>
                        </div>
                        <div class="client-name text-center">
                            <h5>Ma Yamin Thuzar -</h5>
                            <p>Professional & Gadget Lover</p>
                        </div>
                    </div>
                    <!-- Client Feedback Text  -->
                    <div class="client-feedback-text text-center">
                        <div class="client-description text-center">
                            <p>
                                “Amazing service and fast delivery! The electronics I bought not only look great but
                                are also incredibly reliable. I'll definitely be coming back!”
                            </p>
                        </div>
                        <div class="client-name text-center">
                            <h5>Rohin Kabi -</h5>
                            <p>Business Owner & Gadget Enthusiast</p>
                        </div>
                    </div>
                    <!-- Client Feedback Text  -->
                    <div class="client-feedback-text text-center">
                        <div class="client-description text-center">
                            <p>
                                “The best place to find the latest tech! The customer service was exceptional, and
                                my new gadgets are working perfectly in my home. Highly recommend!”
                            </p>
                        </div>
                        <div class="client-name text-center">
                            <h5>U Aye Myint -</h5>
                            <p>Homeowner & Tech Enthusiast</p>
                        </div>
                    </div>
                    <!-- Client Feedback Text  -->
                    <div class="client-feedback-text text-center">
                        <div class="client-description text-center">
                            <p>
                                “ Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum egetvel lacus
                                pretium rhoncus a quis
                                nisly Ut vehicula gravida dui in pulvinar donec diam elit consequat eget augue vitae
                                aliquet sollicitudin. ”
                            </p>
                        </div>
                        <div class="client-name text-center">
                            <h5>Rock smith -</h5>
                            <p>Developer</p>
                        </div>
                    </div>
                    <div class="client-feedback-text text-center">
                        <div class="client-description text-center">
                            <p>
                                “Excellent service, fast delivery, and the electronics I purchased are top-quality.”
                            </p>
                        </div>
                        <div class="client-name text-center">
                            <h5>Deny smith -</h5>
                            <p>Designer & Gadget Lover</p>
                        </div>
                    </div>
                    <div class="client-feedback-text text-center">
                        <div class="client-description text-center">
                            <p>
                                “From start to finish, the experience was amazing! The team helped me find the best
                                electronics for my home, and everything works flawlessly.”
                            </p>
                        </div>
                        <div class="client-name text-center">
                            <h5>Jhon smith -</h5>
                            <p>Homeowner & Tech Savvy</p>
                        </div>
                    </div>
                    <div class="client-feedback-text text-center">
                        <div class="client-description text-center">
                            <p>
                                “I’ve shopped around for electronics before, but this store truly stands out. Great
                                selection, knowledgeable staff, and products that exceed expectations!”
                            </p>
                        </div>
                        <div class="client-name text-center">
                            <h5>Henry smith -</h5>
                            <p>Engineer & Electronics Enthusiast</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>