<section
    id="testimonial"
    style="background-image: url(images/bg-wave.webp); background-position: center;"
>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8">
                <div class="text-center">
                    <h2 class="section-heading">What <span>People Says</span></h2>
                    <div class="reflection-text">
                        <div>
                            <img
                                src="images/logo.png"
                                alt=""
                                width="30"
                                height="30"
                            >
                            <span class="one"></span>
                            <span class="two"></span>
                        </div>
                    </div>
                    <p class="s-top-p">Don’t Believe us Check Clients word. More over 2500 happy customer.</p>
                </div>
            </div>
        </div>
        <!-- images/reviews/testi-people1.jpg -->
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="testimonial_slider pt-5">
                    <div class="item shadow">
                        <div class="testimony-wrap">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fa fa-quote-left"></span>
                            </div>
                            <div class="text">
                                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia
                                    and
                                    Consonantia,
                                    there live the
                                    blind texts.</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img"><img
                                            src="images/team/team-1.jpg"
                                            alt="User"
                                            class="rounded-circle"
                                            width="50"
                                            height="50"
                                        ></div>
                                    <div class="ps-3">
                                        <p class="name">Roger Scott</p>
                                        <span class="position">Marketing Manager</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item shadow">
                        <div class="testimony-wrap">
                            <div class="icon d-flex align-items-center justify-content-center"><span
                                    class="fa fa-quote-left"
                                ></span>
                            </div>
                            <div class="text">
                                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia
                                    and
                                    Consonantia,
                                    there live the
                                    blind texts.</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img"><img
                                            src="images/team/team-1.jpg"
                                            alt="User"
                                            class="rounded-circle"
                                            width="50"
                                            height="50"
                                        ></div>
                                    <div class="ps-3">
                                        <p class="name">Roger Scott</p>
                                        <span class="position">Marketing Manager</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item shadow">
                        <div class="testimony-wrap">
                            <div class="icon d-flex align-items-center justify-content-center"><span
                                    class="fa fa-quote-left"
                                ></span>
                            </div>
                            <div class="text">
                                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia
                                    and
                                    Consonantia,
                                    there live the
                                    blind texts.</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img"><img
                                            src="images/team/team-1.jpg"
                                            alt="User"
                                            class="rounded-circle"
                                            width="50"
                                            height="50"
                                        ></div>
                                    <div class="ps-3">
                                        <p class="name">Roger Scott</p>
                                        <span class="position">Marketing Manager</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item shadow">
                        <div class="testimony-wrap">
                            <div class="icon d-flex align-items-center justify-content-center"><span
                                    class="fa fa-quote-left"
                                ></span>
                            </div>
                            <div class="text">
                                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia
                                    and
                                    Consonantia,
                                    there live the
                                    blind texts.</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img"><img
                                            src="images/team/team-1.jpg"
                                            alt="User"
                                            class="rounded-circle"
                                            width="50"
                                            height="50"
                                        ></div>
                                    <div class="ps-3">
                                        <p class="name">Roger Scott</p>
                                        <span class="position">Marketing Manager</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>